.header {
    display: flex;
    justify-content: center;
}
.block_header {
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    align-items: center;
    height: 93px;
    width: 1440px;
}
.blockNav {
    display: flex;
    gap: 49px;
}
.registrationBlock {
    display: flex;
    gap: 20px;
    align-items: center;
}
a {
    text-decoration: none;
    color: black;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}
.login {
    padding: 5px 12px;
    border-radius: 5px;
    background: rgb(124, 227, 225);
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}
.registration {
    opacity: 0.4;
}
a:hover {
    opacity: 0.7;
}
.block_user {
    display: flex;
    gap: 64px;
    align-items: center;
}
.block_param {
    border-radius: 5px;
    background: rgb(217, 217, 217);
    opacity: 0.3;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    padding: 16px 12.5px;
    display: flex;
    gap: 7px;
    flex-direction: column;
    align-items: self-end;
    span {
        display: flex;
        gap: 5px;
        p {
            margin: 0;
        }
    }
}
.block_usernameicon {
    display: flex;
    align-items: center;
    p {
        color: rgb(0, 0, 0);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        margin: 0;
        margin-bottom: 3px;
    }
    button {
        color: rgb(0, 0, 0);
        font-family: Inter;
        font-size: 10px;
        font-weight: 400;
        line-height: 12px;
        opacity: 0.4;
        padding: 0;
        text-align: end;
        border: none;
        background-color: white;
    }
    button:hover{
        cursor: pointer;
        opacity: 1;
    }
    div {
        display: flex;
        flex-direction: column;
    }
}
.img_menu {
    display: none;
}
@media screen and (max-width: 375px) {
    .blockNav {
        display: none;
    }
    .header {
        width: 375px;
        padding: 0 26px 0 14px;
    }
    .block_usernameicon {
        display: none;
    }
    .img_menu {
        display: block;
    }
    .registrationBlock {
        display: none;
    }
}