.main {
    padding: 24px 60px 118px 60px;
    display: flex;
    flex-direction: column;
    gap: 95px;
}
.section1 {
    display: flex;
    gap: 157px;
    padding-top: 27px;
    h1 {
        font-family: Arbutus;
        font-size: 60px;
        font-weight: 400;
        line-height: 75px;
        text-align: left;
        margin: 18px 0 0 0;
    }
    p {
        font-family: Inter;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        margin: 0;
        margin-bottom: 70px;
    }
}
.request_data {
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background: rgb(89, 112, 255);
    color: white;
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
    line-height: 97px;
    padding: 18px 64px;

}
.section2 {
    h2 {
        margin-top: 0;
        font-family: ABeeZee;
        font-size: 45px;
        font-weight: 400;
        line-height: 53px;
        margin-bottom: 71px;
        text-align: left;
    }
}
.section3 {
    h2 {
        margin-top: 0;
        font-family: ABeeZee;
        font-size: 45px;
        font-weight: 400;
        line-height: 53px;
        text-align: left;
    }
}
.blockTarif {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.level1 {
    padding: 19px;
}
.beginner,
.pro,
.business {
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: space-around;
    height: 132px;
    align-items: center;
    font-family: Inter;
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    h4 {
        margin: 0;
    }
    p {
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
    }
}
.beginner {
    background: rgb(255, 182, 79);
    img {
        width: 92px;
        height: 83px;
    }
}
.pro {
    background: rgb(124, 227, 225);
}
.business {
    background: rgb(0, 0, 0);
    color: white;
    img {
        width: 96px;
        height: 80px;
    }
}
.blockLogin {
    display: flex;
}
.blockLogin_h1 {
    font-family: ABeeZee;
    font-size: 40px;
    font-weight: 400;
    line-height: 47px;
}
.login,
.password,
.btn_login {
    width: 100%;
}
.login,
.password {
    margin-top: 1rem;
    height: 2.5rem;
    box-sizing: border-box;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
    background: rgb(255, 255, 255);
}
.login {
    margin-bottom: 1.25rem;
}
.btn_login {
    margin-top: 1.9rem;
    margin-bottom: 0.9rem;
    padding: 1rem;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
    border: 1px solid rgb(171, 176, 207);
    border-radius: 5px;
    background: rgb(171, 176, 207);
}
.btn_login:enabled {
    cursor: pointer;
    background: rgb(89, 112, 255);
    border: 1px solid rgb(171, 176, 207);
}
.recover_password {
    color: rgb(89, 112, 255);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-decoration-line: underline;
    text-align: center;
    margin-bottom: 1.9rem;
}
.form_login {
    padding: 2.5rem;
    width: 45%;
    margin-right: 81px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}
.block_link {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2.5rem;
}
.link_login {
    padding: 0.5rem 3.1rem;
    color: rgb(2, 148, 145);
    border-bottom: 1px solid rgb(2, 148, 145);
}
.link_register {
    padding: 0.5rem 1.25rem;
    color: rgb(199, 199, 199);
    border-bottom: 1px solid rgb(199, 199, 199);
}
.block_log_in_via {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}
.log_in_via {
    display: flex;
    gap: 0.6rem;
}
.log_in_via_link {
    box-sizing: border-box;
    border: 1px solid rgba(89, 112, 255, 0.51);
    border-radius: 3px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 1.1rem;
}
.img_Characters {
    padding-left: 7rem;
    padding-top: 1.5rem;
}
.img_1171274237 {
    position: absolute;
    margin-left: 17rem;
    margin-top: -13rem;
}
.inDevelopment {
    text-decoration: underline;
    color: rgb(2, 148, 145);
}
.ulList {
    padding: 0;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    margin-top: 59px;
    li {
        list-style-type: none;
        color: rgb(0, 0, 0);
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
    }
    li:before {
        content: '✔';
        color: #33FF33;
    }
}
.btn_personal_account,
.btn_detailed {
    display: flex;
    justify-content: center;
    padding: 17.5px;
    border-radius: 5px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 55px;
}
.btn_detailed {
    color: rgb(255, 255, 255);
    background: rgb(89, 112, 255);
}
.btn_personal_account {
    color: rgb(0, 0, 0);
    background: rgb(210, 210, 210);
}
.block_tarif_three,
.block_tarif_two,
.block_tarif_one {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0 30px;
    padding-bottom: 24px;
    height: 408px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.block_tarif_three,
.block_tarif_two {
    background: rgb(255, 255, 255);
}
.block_tarif_one {
    border: 2px solid rgb(255, 182, 79);
}
.pPrice {
    margin: 0;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    del {
        opacity: 0.5;
        font-size: 25px;
        line-height: 30px;
    }
}
.pPriceMonth {
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
    margin-top: 10px;
}

@media screen and (max-width: 375px) {
    
}