.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    margin: auto;
    padding: 25px 0 109px 0;
}
.firstSection {
    width: 100%;
    display: flex;
    justify-content: space-between;
    h1 {
        text-transform: uppercase;
        font-family: Ferry;
        font-size: 40px;
        font-weight: 400;
        line-height: 48px;
    }
    p {
        font-family: Inter;
        font-size: 20px;
        font-weight: 400;
    }
}
.generalSummarySection {
    width: 100%;
    h3 {
        text-transform: uppercase;
        font-family: Ferry;
        font-size: 30px;
        font-weight: 400;
    }
    p {
        color: rgb(148, 148, 148);
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
    }
    .conteiner_slider_date {
        display: flex;
        width: 100%;
        gap: 10px;
    }
    .block_slider_date {
        border: 2px solid #029491;
        border-radius: 10px;
        width: 100%;
    }
    .block_param {
        background-color: #029491;
        display: flex;
        flex-direction: column;
        width: max-content;
        padding: 17px 27.5px;
        border-radius: 10px 0 0 10px;
        p {
            color: white;
        }
    }
}
.documentListSection {
    width: 100%;
    h3 {
        text-transform: uppercase;
        color: rgb(0, 0, 0);
        font-family: Ferry;
        font-size: 30px;
        font-weight: 400;
        line-height: 35px;
    }
}
.btn_Show_More {
    border-radius: 5px;
    background: rgb(89, 112, 255);
    width: 305px;
    height: 59px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    border: none;
    margin-top: 38px;
}
.block_item_articles {
    display: grid;
    grid-template-columns:repeat(2, 45%);
    gap: 38px;
    justify-content: center;
}
.block_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 19px 30px 35px 30px;
    height: 694px;
    h4 {
        color: rgb(0, 0, 0);
        font-family: Inter;
        font-size: 26px;
        font-weight: 500;
        line-height: 31px;
    }
    .block_item_date {
        display: flex;
        gap: 14px;
        p {
            color: rgb(148, 148, 148);
            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
        }
    }
    img {
        border-radius: 10px;
        width: 581px;
        height: 158px;
        object-fit: cover;
    }
}
.block_item_btn {
    display: flex;
    justify-content: space-between;
    p {
        color: rgb(148, 148, 148);
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
    }
}
.read_source {
    border-radius: 5px;
    background: rgb(124, 227, 225);
    padding: 14px 31.5px;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    cursor: pointer;
}
.block_text {
    width: 581px;
    height: 228px;
     white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}